build/bin/**
*.pyc
*.a
cmake/CmakeFiles/
cmake/CMakeCache.txt
cmake/cmake_install.cmake
cmake/Makefile
cmake/Config.h
example/**
!example/simulation.py
!example/numerical_analysis.py
!example/live_plot.R
!example/lineage_plot.R
